.center {
  text-align: center;
}

.video-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  /* margin: 20px 0; */
  height: 500px;
}

/* Add Video */

.add-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-video input {
  width: 400px;
  padding: 10px;
  outline:none;
}

button {
  width: 150px;
  padding: 10px;
}

/* Video */
.video-display, .vid-placeholder {
  border-radius: 30px;
}

/* Overlay Text */

.video-wrapper>h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000, 2px 2px 5px #000;
}

/* Overlay Text Input */

.overlayInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlayInput input {
  width: 400px;
  padding: 10px;
  outline:none;
}

button {
  cursor: pointer;
  font-size:18px;
  text-transform: uppercase;
  border:none;
  border-radius:10px;
  background:#f1df98;
  width: 150px;
  padding: 10px;
}

.buttons-row {
  display:flex;
}

.buttons-row button {
  margin:0px 10px;
}

/* Demo Vids Text */

.demo-vids {
  color:#FFF;
  display: flex;
  flex-direction: column;
  background:#333;
  border-radius: 20px;
  padding:10px;
  margin:20px 0;
}

.demo-vids p {
  color:#FFF;
  padding: 0;
  margin: 0;
}

.demo-vids {
  color:#FFF;
}