.video-wrapper {
    background-image:url("../img/tv.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #777777;
    margin:20px 0;
    height:500px;
}

video {
    position: absolute;
    left:25%;
}